<div class="flex justify-content-center w-full pt-4">
  <div class="register-form w-27rem h-auto">
    <div
      class="header flex justify-content-center align-items-center h-8rem border-round-top-md bg-primary"
    >
      <span>
        <i class="pi pi-user-plus text-color" style="font-size: 5rem"></i>
      </span>
    </div>
    <div class="flex w-full content surface-100 justify-content-center">
      <form
        [formGroup]="registerForm"
        class="flex pt-4 flex-column w-full px-4"
      >
        <div class="field flex justify-content-center">
          <div class="grid">
            <div class="col-6">
              <input
                formControlName="name"
                type="text"
                placeholder="Name*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
            <div class="col-6">
              <input
                formControlName="surname"
                type="text"
                placeholder="Surname*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
          </div>
        </div>
        <div class="field mb-8">
          <span>Choose address</span>
          <app-map [showSearch]="true" [showLegend]="false" (addressSelected)="onAddressSelected($event)">
          </app-map>
      </div>
        <div class="field flex justify-content-center">
          <div class="grid">
            <div class="col-4">
              <input
                formControlName="city"
                type="text"
                placeholder="City*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
            <div class="col-4">
              <input
                formControlName="street"
                type="text"
                placeholder="Street*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
            <div class="col-4">
              <input
                formControlName="number"
                type="text"
                placeholder="Number*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
          </div>
        </div>
        <div class="field flex justify-content-center">
          <div class="grid">
            <div class="col-6">
              <input
                formControlName="latitude"
                type="number"
                placeholder="Latitude*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
            <div class="col-6">
              <input
                formControlName="longitude"
                type="number"
                placeholder="Longitude*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
          </div>
        </div>
        <div class="field flex justify-content-center">
          <input
            formControlName="phone"
            type="text"
            placeholder="Phone*"
            class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
          />
        </div>
        <div class="field flex justify-content-center">
          <input
            formControlName="email"
            readonly
            type="text"
            placeholder="E-Mail*"
            class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
          />
        </div>
        <div class="field justify-content-center h-3rem w-full submit">
          <p-button
            styleClass="min-w-full w-full h-3rem border-noround"
            label="CHANGE PASSWORD"
            type="submit"
            (click)="changePassword()"
          ></p-button>
        </div>
        <div class="field flex photo w-full">
          <p-button
            (click)="uploader.click()"
            styleClass="w-full border-noround border-1 border-primary hover:bg-primary"
            label="CHOOSE PROFILE PHOTO"
          ></p-button>
          <input hidden type="file" #uploader (change)="uploadFile($event)" />
          <img
            *ngIf="selectedPhoto"
            [src]="selectedPhoto"
            src="dinja.jpg"
            alt="Profile Photo"
            class="ml-2 border-round w-4rem h-3rem"
          />
        </div>
        <div class="field justify-content-center h-3rem w-full submit">
          <p-button
            styleClass="min-w-full w-full h-3rem border-noround"
            label="EDIT PROFILE"
            type="submit"
            (click)="editAccount()"
          ></p-button>
        </div>
      </form>
    </div>
  </div>
</div>
