<div class="flex justify-content-center pt-4 h-full w-11">
  <div class="h-full w-9">
    <div class="flex content surface-100 pl-3">
      <h2>Create Event</h2>
    </div>
    <div class="flex content surface-100 justify-content-center">
      <form
        [formGroup]="addEventTypeForm"
        class="flex pt-4 flex-column px-4 w-12"
      >
        <div class="field flex justify-content-center">
          <input
            formControlName="title"
            type="text"
            placeholder="Title*"
            name="title"
            class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
          />
        </div>
        <div class="field flex justify-content-center">
          <textarea
            formControlName="description"
            cols="40"
            rows="5"
            placeholder="Description*"
            class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 max-h-7rem surface-50"
          ></textarea>
        </div>
        <div class="field flex justify-content-center">
          <input
            formControlName="maxParticipants"
            type="number"
            placeholder="Max Participants*"
            max="2000"
            min="0"
            name="maxParticipants"
            class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
          />
        </div>
        <div class="field mb-8">
          <span>Choose address</span>
          <app-map 
              [showSearch]="true" 
              [showLegend]="false" 
              (addressSelected)="onAddressSelected($event)" 
              >
          </app-map>
      </div>
        <div class="field flex justify-content-center">
          <div class="grid">
            <div class="col-4">
              <input
                formControlName="city"
                type="text"
                placeholder="City*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
            <div class="col-4">
              <input
                formControlName="street"
                type="text"
                placeholder="Street*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
            <div class="col-4">
              <input
                formControlName="number"
                type="text"
                placeholder="Number*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
          </div>
        </div>
        <div class="field flex justify-content-center">
          <div class="grid">
            <div class="col-6">
              <input
                formControlName="latitude"
                type="number"
                placeholder="Latitude*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
            <div class="col-6">
              <input
                formControlName="longitude"
                type="number"
                placeholder="Longitude*"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50"
              />
            </div>
          </div>
        </div>
        <div class="field flex justify-content-center">
          <p-calendar placeholder="Date*" formControlName="date" />
        </div>
        <div class="flex justify-content-center align-items-center gap-2">
          <p-checkbox formControlName="public" value="yes" inputId="public"/>
          <label for="public">Public</label>
        </div>
        <div
          class="flex justify-content-center align-items-center gap-2 mt-3 w-full"
        >
        <p-dropdown placeholder="Event Type*" [options]="eventTypes"  [(ngModel)]="selectedEventType" [ngModelOptions]="{ standalone: true }" optionLabel="title"
        optionValue="id">
          <ng-template let-eventType pTemplate="item">
            <div>
              <strong>{{ eventType.title }}</strong>
            </div>
          </ng-template>
        </p-dropdown>
        </div>
        <div class="field flex justify-content-center w-full mt-7">
          <div class="grid w-full">
            <div class="col-6">
              <p-multiSelect
            [options]="services"
            placeholder="Recommended services*"
            name="services"
            styleClass="w-full"
            [showToggleAll]="false"
            [filter]="false"
            [showClear]="false"
            [(ngModel)]="selectedServices"
            [ngModelOptions]="{ standalone: true }"
            optionLabel="title"
        optionValue="id"
            >
            <ng-template let-service pTemplate="item">
              <div>
                <strong>{{ service.title }}</strong>
              </div>
            </ng-template>
          </p-multiSelect>
            </div>
            <div class="col-6">
              <p-multiSelect
            [options]="products"
            placeholder="Recommended products*"
            name="products"
            styleClass="w-full"
            [showToggleAll]="false"
            [filter]="false"
            [showClear]="false"
            [(ngModel)]="selectedProducts"
            [ngModelOptions]="{ standalone: true }"
            optionLabel="title"
        optionValue="id"
            >
            <ng-template let-product pTemplate="item">
              <div>
                <strong>{{ product.title }}</strong>
              </div>
            </ng-template>
          </p-multiSelect>
            </div>
          </div>
        </div>
        <div class="field flex justify-content-center">
          <p-button (click)="createEvent()">CREATE EVENT</p-button>
        </div>
      </form>
    </div>
  </div>
</div>