<p-toolbar
  styleClass="flex justify-content-between w-full xl:w-10 fixed top-0 right-0 z-4 border-noround"
>
  <div class="p-toolbar-group-start">
    <p-button
      icon="pi pi-align-justify"
      styleClass="mr-2 xl:hidden"
      severity="secondary"
      (onClick)="sidemenuVisible = true"
    />
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText placeholder="Search" [(ngModel)]="searchText" (keyup.enter)="onSearchChange()" />
    </span>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      icon="pi pi-lightbulb"
      styleClass="max-h-2rem max-w-2rem text-color"
      [rounded]="true"
      (click)="changeTheme()"
      [link]="true"
    />
    <p-menubar [model]="items" styleClass="border-none h-3rem" />
    <p-button
      (onClick)="notificationsVisible = true"
      icon="pi pi-align-right"
      styleClass="mr-2"
      severity="secondary"
    />
  </div>
</p-toolbar>
<div class="card flex justify-content-center">
  <p-sidebar [(visible)]="sidemenuVisible" styleClass="w-7">
    <app-side-menu></app-side-menu>
  </p-sidebar>
</div>
<div class="card flex justify-content-center">
  <p-sidebar
    [(visible)]="notificationsVisible"
    styleClass="w-2"
    position="right"
  >
    <app-sidebar-notifications></app-sidebar-notifications>
  </p-sidebar>
</div>