<div
  class="side-menu fixed h-full surface-50 xl:w-2 w-7 font-roboto left-0 top-0 z-4"
>
  <div class="content w-full flex flex-column pt-3 text-color">
    <div class="header flex justify-content-center gap-4">
      <img class="w-2 h-3" src="/calendar.png" alt="" />
      <span class="text-4xl">E Planner</span>
    </div>
    <div
      class="user flex flex-column justify-content-between align-items-center gap-1 mb-4 mt-4"
    >
      <p-avatar
        size="xlarge"
        shape="circle"
        [image]="this.photo"
      />
      <span class="name text-2xl">{{this.username || 'Loading...'}}</span>
      <span class="email text-base opacity-70">{{this.email || 'Loading...'}}</span>
    </div>
    <div class="flex flex-column options">
      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home'"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>Home</span>
        </ng-template>
      </p-button>

      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/my_services'"
        *ngIf="this.role == 'SP'"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>My services</span>
        </ng-template>
      </p-button>

      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/my_products'"
        *ngIf="this.role == 'SP'"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>My products</span>
        </ng-template>
      </p-button>

      <p-button
      styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
      [text]="true"
      [routerLink]="'/home/price-list'"
      *ngIf="this.role == 'SP'"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>Price List</span>
        </ng-template>
      </p-button>
      
      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/event-types'"
        *ngIf="this.role == 'A'"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>Event Types</span>
        </ng-template>
      </p-button>

      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/my_events'"
        *ngIf="this.role == 'EO'"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>My Events</span>
        </ng-template>
      </p-button>

      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/category'"
        *ngIf="this.role == 'A'"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>Categories</span>
        </ng-template>
      </p-button>
      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/followed-events'"
        *ngIf="this.role != ''"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>Followed events</span>
        </ng-template>
      </p-button>
      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="['/home/messenger', -1]"
        *ngIf="this.role != ''"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>Messenger</span>
        </ng-template>
      </p-button>
      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/admin-user-reports'"
        *ngIf="this.role == 'A'"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>User reports</span>
        </ng-template>
      </p-button>
      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/admin-reviews'"
        *ngIf="this.role == 'A'"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>Reviews</span>
        </ng-template>
      </p-button>
      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/favorite-events'"
        *ngIf="this.role != ''"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>Favorite events</span>
        </ng-template>
      </p-button>
      <p-button
        styleClass="w-full justify-content-left pl-3 border-round-right-xl h-3rem mb-2 text-color hover:surface-hover"
        [text]="true"
        [routerLink]="'/home/favorite-merchandise'"
        *ngIf="this.role != ''"
      >
        <ng-template pTemplate="content">
          <i class="pi pi-objects-column mr-4" style="font-size: 1rem"></i>
          <span>Favorite Services/Products</span>
        </ng-template>
      </p-button>
    </div>
  </div>
</div>
